/elasticsearch/
*.log*
/.settings/
/.project
/.pydevproject
/aeroexpress.json
/addresses.json
/metro.json
/suburban.json
/cpes.json
*.pyc
/Poi.csv
/region_moskva.json
/region_podolsk.json
/addresses.csv
synchro-krasnoyarsk.json*
synchro-moscow.json*
synchro-podolsk.json*
/tdb2.py.lprof

